.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
  list-style: none;

  .page-item {
    margin: 0 5px;

    .page-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      border: 1px solid var(--border-color);
      border-radius: 50%;
      cursor: pointer;
      transition: background 0.2s, color 0.2s, border 0.2s;
      color: var(--font-color);

      &:hover {
        background: var(--primary-color);
        color: var(--font-color);
        border-color: var(--primary-color);
      }
    }

    &.active {
      .page-link {
        background: var(--primary-color);
        border-color: var(--primary-color);
        color: var(--font-color);
      }
    }
  }
}
