.list-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 592px;
  padding: 10px;

  .list-group-item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    width: 992px;
    transition: background-color 0.2s ease-in-out, transform 0.1s;
    transform: scale(1);

    &:hover {
      background-color: var(--background-hover);
      transform: scale(1.02);
    }

    &.disabled {
      color: var(--disabled-color);
      cursor: not-allowed;
      background-color: var(--disabled-bg);
      border: 1px solid #ccc;
    }
  }
}

.title {
  position: relative;
  display: inline-block;
  padding: 0 8px 8px;
  margin-bottom: 32px;
  font-family: "EB Garamond", serif;
  font-size: 48px;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: italic;
}

.title::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -4px;
  bottom: 4px;
  width: calc(100% + 8px);
  height: 24px;
  background-color: var(--primary-color);
  transform: skewX(-20deg);
  transform-origin: bottom right;
}

.nav-link {
  font-size: 18px;
  color: black;

  &.active {
    font-weight: bold;
  }
}

@media (max-width: 992px) {
  .list-group {
    .list-group-item {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .dynamic-truncate {
    text-overflow: unset;
    overflow: unset;
    white-space: normal;
  }
}
